
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /events/{eventId} {
      allow read: if resource.data.status == 'published';
      allow create, update, delete: if request.auth != null && request.auth.token.email in [
        'angelrocks0319@gmail.com', 'uclatlan@ucla.edu', 'uclatlan@g.ucla.edu'
      ];

      match /responses/{uid} {
        allow read: if true; // members can see who RSVP'd (adjust as needed)
        allow write: if request.auth != null && request.auth.uid == uid; // users write their own RSVP
      }
    }

    match /client_requests/{id} {
      allow read: if false; // private
      allow write: if false; // only via CF
    }
  }
}